# Ignore node_modules directory
node_modules/
dist/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore .env.local file
.env.local

kb_embeddings.json
kb_embeddings.json.backup
kb.json
kb.json.backup
tasks.json
tasks.json.backup
keywords.json
keywords.json.backup
convo.json
convo.json.backup

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
